<h1>My first map</h1>

<form id="addressForm">
  <div>
    <label for="address">Address:</label>
    <input type="text" name="address" id="address" />
    <input type="submit" id="addressButton" value="Get Coordinates" />
  </div>
</form>

<input type="button" value="getValues" id="getValues" />
<input type="button" value="Go to your position" id="GoYourPosition" />
<input type="button" value="Go to college UFPR Politecnico" id="GoCollegeUFPRPoli" />
<input type="button" value="Go to Airport CTBA" id="GoAirportCTBA" />
<input type="button" value="Go to Shopping Jardim das Américas" id="GoShoppingJardimDasAmericas" />
<input type="button" value="View with main markes" id="ViewAllMarkers" />
<input type="button" value="View all map" id="ViewAllMap" />

<p>OBS: You can click on the map to find address or with two clicks insert routes</p>
<div id="map"></div>
