<p>Olá <%= @resource.nome %>!</p>

<p> Alguém requisitou a mudança de sua senha. Você pode fazer isso através
do link abaixo. </p>

<p><%= link_to "Mudar minha senha.", edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p> Se você não requisitou isso, por favor ignore esse email. </p>
<p> Sua senha não mudará se você não acessar o link.</p>

<%= link_to "Agendador de Serviços Públicos", root_path %>
