body.fonte12 {
  font-size: 12px
}
body.fonte13 {
  font-size: 13px;
}
body.fonte14 {
  font-size: 14px;
}
body.fonte15 {
  font-size: 15px;
}
body.fonte16 {
  font-size: 16px;
}
body.fonte17 {
  font-size: 17px;
}
body.fonte18 {
  font-size: 18px;
}
body.fonte19 {
  font-size: 19px;
}
body.fonte20 {
  font-size: 20px;
}
