<div id="texto-maior">
<h2>Alterar Local de Atendimento <span>
<%= @orgao.nome %><span></h2>

<%= render 'form' %>

<br />

<%= link_to 'Mostrar', @orgao %>

<%= link_to 'Voltar', orgaos_path %>

</div>
