<div style="text-align: center;">
    <h1>Contato:</h1>
    <b>Nome:  </b><%=@prefeitura.nome%><br>
    <b>Telefone 1:  </b><%=@prefeitura.telefone1%><br>
    <b>Telefone 2:  </b><%=@prefeitura.telefone2%><br>
    <b>Email: </b><%=@prefeitura.email%><br>
</div>
