<div id="texto">

<h2>Agendador com Localização via Google Maps</h2>
<p>
&emsp;&emsp;O aplicativo Agendador foi desenvolvido para permitir a automatização do agendamento dos atendimentos com hora marcada de órgãos públicos.<br>
&emsp;&emsp;Permite que uma prefeitura crie agendas de atendimento para órgãos ou profissionais.
Por exemplo, agendas de atendimento para médicos em postos de saúde.<br>
&emsp;&emsp;Para dar uma ideia geral do aplicativo, apresentamos a seguir um breve resumo do seu funcionamento.
Neste exemplo, suponha que uma prefeitura deseja criar um conjunto de horários de atendimento para um determinado médico.<br>
&emsp;&emsp;Antes de continuar com este exemplo, é importante primeiro definir o termo "agenda".
Uma agenda é uma lista de horários de uma prefeitura que deseja que um determinado profissional, no caso do nosso exemplo, um médico,
atenda a população em um determinado local.
</p>

<p>
</p>
</div>

<%= image_tag("calendario_exemplo.png", id: "calendario") %>
