<div id="texto">

<h2>Agendador</h2>
<p> Uma descrição do sistema</p>

<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras imperdiet est
ligula, congue varius nulla adipiscing varius. Aenean lorem sem, venenatis
eget erat eu, adipiscing tincidunt quam. Integer nec quam gravida, rhoncus
lacus at, lobortis justo. Duis dignissim egestas convallis. Praesent
vestibulum posuere lorem, nec mollis sem egestas eu. Morbi hendrerit, justo
id tempor interdum, nunc erat ullamcorper nisi, vel dignissim ligula lectus
a neque. Aliquam molestie vestibulum leo, rhoncus blandit turpis ornare eu.
Fusce ligula nisi, posuere at sem a, cursus congue sem. Aliquam mollis
libero in laoreet luctus. Nam sagittis dolor eget velit sagittis, sit amet
vestibulum augue bibendum. Donec velit lacus, aliquet non ligula ac, posuere
auctor orci.
</p>

<p>
Nunc ac enim eros. Pellentesque venenatis pellentesque lacus, sit amet
luctus sem tristique eget. In sit amet dictum est. Mauris urna augue,
interdum sagittis congue in, pretium nec lectus. Nam sed sodales dui. In
venenatis in augue quis placerat. Nam hendrerit massa non diam congue, vitae
lacinia nibh rhoncus. Suspendisse porttitor ipsum quis sapien pellentesque,
quis porta mi cursus. In hac habitasse platea dictumst. Ut tristique, leo
sed faucibus tristique, urna lectus hendrerit velit, in mollis magna orci
sit amet nisi.
</p>
</div>

<%= image_tag("calendario_exemplo.png", id: "calendario") %>
