<div style="text-align:center">
    <h1>Comunicar um erro:</h1>
    <p>Para comunicar um erro do sistema, por favor, entre em contato no seguinte telefone:<br>
    <h2><%=@prefeitura.telefone1%></h2>
    <p>Ou então, envie uma mensagem para o seguinte endereço de email:<br>
    <h2><%=@prefeitura.email%></h2>
</div>
