<div id="texto-maior">
<h2><span><%= current_profissional.orgao.nome %></span> - Agendamentos</h2>

<hr noshade="noshade" />

<% if session[:cpf].nil? %>
  <%= render :partial => 'agendamento_cidadao_cpf_form', :locals => { :cidadao => @cidadao } %>
<% else %>
  <%= render :partial => 'agendamento_search_form', :locals => { :agendamentos => @agendamentos, :search => @search } %>
<% end %>

<br />

</div>
