<div id="texto-maior">
<h2>Agendamento</h2>
<h4>Passo 3 de 6 - Local de atendimento:</h4>

<% unless params[:orgao].nil? %>
  <% if params[:orgao][:id].empty? %>
    <div id="error_explanation">
      <h2>1 erro, o agendamento não pode prosseguir:</h2>
      <ul>
        <li>Nenhum local de atendimento foi selecionado!</li>
      </ul>
    </div>
  <% elsif @orgao.nil? %>
    <div id="error_explanation">
      <h2>1 erro, o agendamento não pode prosseguir:</h2>
      <ul>
        <li>O Local de atendimento selecionado não é um local de atendimento válido!</li>
      </ul>
    </div>
  <% end %>
<% end %>

<div id="formulario-horizontal">
<%= form_for(@orgaos, :as => :orgao, :url => cidadaos_agendamentos_selecionar_orgao_path,
             :method => :get, 
             :html => { :class => "selecionar_orgao", :id => "selecionar_orgao"}) do |f| %>

  <div class="field">
    <%= collection_select(:orgao, :id, @orgaos, :id, :nome,
        { :include_blank => "Selecione um local de atendimento" }) %>
  </div>

  <div class="actions">
    <%= f.submit "Voltar", :name => "anterior" %>
    <%= f.submit "Continuar" %>
  </div>
<% end %>
</div>

</div>
