<div id="footer">
  <ul>
   <li><%= link_to 'Perguntas e Respostas', agendador_faq_path %></li>
   <li><%= link_to 'Contato', agendador_contato_path %></li>
   <li><%= link_to 'Comunicar um erro', agendador_reportar_path %></li>
  </ul>
</div>
