<li><%= link_to 'Alterar Minha Conta', edit_cidadao_registration_path %></li>
<li><%= link_to 'Efetuar agendamento', cidadaos_agendamentos_termo_compromisso_path %></li>
<li><%= link_to 'Histórico de agendamentos', cidadaos_agendamentos_historico_path %></li>
